@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<p>If this is something that should not happen, please use the <b>Give feedback</b> button and write us the description of actions that preceeded the problem. Lada out!</p>
