@using System.Collections.Generic;
@model BookRecommender.Models.UserViewModels.MyProfileViewModel

<div class="container-fluid">
    <div class="col-md-8">
        <h3>My ratings:</h3>
        <table class="table table-striped">
            <tbody>
                @foreach(var rating in Model.BookRatings){
                var lStars = rating.Item1.Rating;
                var stars = new String('★', lStars) + new String('☆', 5 - lStars);
                <tr>
                    <td>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-10">
                                    <a href="/Book/Detail/@rating.Item2.BookId"> @rating.Item2.NameEn </a>
                                </div>
                                <div class="col-sm-2">
                                    <p class="text-right stars">@stars</p>
                                </div>
                            </div>

                            @if(!string.IsNullOrEmpty(rating.Item1.Review)){
                            <div class="row">
                                <div class="col-sm-10">
                                    <p>@rating.Item1.Review</p>
                                </div>
                                <div class="col-sm-2">
                                    <p class="text-right">@rating.Item1.CreatedTime.ToString("dd. MM. yyyy")</p>
                                </div>
                            </div>
                            }
                        </div>
                    </td>
                </tr>
                }
        </table>
    </div>
</div>
