@{
    ViewData["Title"] = "About";
}

<h2> About this project: </h2>
<p> This website can recommend book for you based on your feedback which you have provided </p>
<p> It is developed as a bachelor thesis on Charles uni in czech republic </p>
<p> More info comming soon... </p>
