@{ ViewData["Title"] = "Home Page"; }


<a href="/Home/Search" >
<div class="jumbotron text-center">
    <h2>
        Search for books or authors
    </h2>
</div>
</a>
@{
    bool IsSignedIn = (bool)ViewData["SignedIn"];
}
@if(IsSignedIn){
    <h2 class="text-center"> Books you might like that others liked:</h2>
<div class "container-fluid">
    <div id="recommendations" class="tab-pane fade in active recommendation" data-type="userBased" data-data="0" data-count="6">
        <img class="center-block" style="width: 150px" src="/images/loading.svg">
    </div>
</div>
<h2 class="text-center"> Books you might like similar to those you have rated:</h2>
<div class "container-fluid">
    <div id="recommendations" class="tab-pane fade in active recommendation" data-type="contentBased" data-data="0" data-count="6">
        <img class="center-block" style="width: 150px" src="/images/loading.svg">
    </div>
</div>
}



<h2 class="text-center"> Most popular books:</h2>
<div class "container-fluid">
    <div id="recommendations" class="tab-pane fade in active recommendation" data-type="mostPopular" data-data="0" data-count="12">
        <img class="center-block" style="width: 150px" src="/images/loading.svg">
    </div>
</div>



