@model BookRecommender.Models.Search

<h3> Search: </h3>

<form action="/Book/Search" method="POST" class="form-inline">
    <input type="text" name="SearchPhrase" class="form-control" />
    <button type="submit" value="Submit" class="btn btn-default">Search</button>
</form>

@if (Model != null){

<h3> You have searched for '@ViewData["search"]'' </h3>

@if (Model.BooksFound.Count > 0){

<h3> Books: </h3>

<table class="table table-striped">
    <thead>
        <th>Book name</th>
    </thead>
    <tbody>
        @foreach (var book in Model.BooksFound){
        <tr>
            <td> @book </td>
        </tr>
        }
</table>
} @if (Model.AuthorsFound.Count > 0){

<h3> Authors: </h3>

<table class="table table-striped">
    <thead>
        <th>Author name</th>
    </thead>
    <tbody>
        @foreach (var author in Model.AuthorsFound){
        <tr>
            <td> @author </td>
        </tr>
        }
</table>
} }